/* ==================== About Me Section ==================== */

.about-section .section {
    flex-direction: column; /* Stack children vertically in the About section */
}

.about-section {
}

.about-text {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
}

/* ==================== Education Section ==================== */
.education-section {
    margin-top: 20px;
}

.education-container {
    display: flex;
    justify-content: center;
    gap: 10%; /* Space between columns */
}

.education-column {
    flex: 1; /* Take equal space */
    max-width: 30%; /* Limit column width */
    text-align: center; /* Center align text */
}

    .education-column h3 {
        font-size: 1.5rem; /* Column header size */
        margin-bottom: 10px; /* Space below */
    }

/* flip cards */
.flip-card {
    background-color: transparent;
    perspective: 900px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    min-width: 200px;
    height: 200px;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2.5px solid var(--grey);
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* rounded corners */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    padding: 10px; /* Adjust padding if necessary */
}

.flip-card-back {
    background-image: url('../images/prism.png');
    color: white;
    transform: rotateY(180deg);
    padding: 10px; /* Adjust padding if necessary */
}

/* flip card line */
.line {
    width: 2.5px;
    border-radius: 2px; /* rounded corners */
    background-color: var(--grey);
    height: 220px; /* Adjust height as needed */
    margin-top: 50px;
}

/* flip cards text */
.text-degree {
    font-size: 180%;
    margin-bottom: -15px;
}
.text-degree-type {
    font-size: 100%;
    margin-top: 15px;
    color: var(--text-hover);
}
.text-school {
    font-size: 1.1rem;
    margin-top: auto; /* Push to the bottom */
    margin-bottom: 10px; /* Space from the bottom */
    color: var(--asu-red);
}

.text-year {
    margin-bottom: 20px;
}

.text-GPA {
}

.line-small {
    border-radius: 2px; /* rounded corners */
    background-color: var(--grey);
    height: 2.5px; /* Adjust height as needed */
    width: 20px; /* Adjust height as needed */
    margin-top: 15px;
}

@media screen and (max-width: 768px) {

    .education-container {
        flex-direction: column;
    }

    .education-column {
        flex: 1 1 100%; /* Allow full width on smaller screens */
        max-width: 100%; /* Ensure it doesn't exceed the screen width */
        margin: 0 30px 20px 30px;
    }


    .line {
        display: none;
    }

}