/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6); /* % transparent grey */
    font-family: 'Courier New', Courier, monospace;
}

/* Name Text */
.navbar-name {
    font-size: 24px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
    .navbar-name a {
        color: var(--darkest-blue);
        text-decoration: none;
        display: flex;
        align-items: center;
    }
        .navbar-name a:hover {
            color: var(--blue);
        }

/* Logo */
.navbar-logo {
    height: 40px;
    margin-right: 15px; /* Space between the logo and the text */
}

/* Links */
.navbar-links {
    position: relative;
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px;
    padding-right: 20px;
}
    .navbar-links a {
        text-decoration: none; /* Remove underline */
    }

/* Left Links */
.left-links {
    color: var(--darkest-blue);
}
    .left-links:hover {
        color: var(--blue);
    }

/* Contact Link */
.contact-link {
    color: var(--off-white); /* Lighter text color */
    background-color: var(--blue); /* Darker button color */
    border: 8px solid var(--blue);
    border-radius: 16px; /* Rounded corners */
    transition: 0.3s ease; /* Smooth transition */
}

    .contact-link:hover {
        background-color: var(--dark-blue);
        border-color: var(--dark-blue);
    }