/* entire page */
.project-detail .section {
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    text-align: center;
}

.project-detail {
    min-height: 100vh; /* Single full page height */
}
/* Header Container */
.back-button {
    position: absolute;
    top: 80px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #46677D; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.details-header-wrapper .section-header {
    margin-left: 65px;
}

/* Project description */
.project-description {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    padding: 0 8%;
}

/* Technologies used */
.technologies-used {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 15px; /* Space between items */
    list-style-type: none;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #666;
    text-align: center; /* Center align text */
    margin-bottom: 20px;
}

    .technologies-used li {
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 5px;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }

        .technologies-used li:hover {
            background-color: #d8d8d8;
        }

/* Sponsor message styling */
.sponsor-message {
    background-color: rgba(0, 0, 0, 0.04);
    border-left: 4px solid #46677D;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
}

    .sponsor-message blockquote {
        margin: 0;
        font-style: italic;
        color: #666;
    }

/* Sample code block */
.code-block {
    /* text */
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    color: #333;
    text-align: left;
    /* styles */
    width: 90%;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    user-select: none; /* Prevent text selection */
}

/* images */
.carousel-wrapper {
    padding-bottom: 20px;
}

.carousel-item img {
    max-width: 60%;
    margin: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    transform: translateY(20px);
}
    .carousel-caption h3 {
        padding: 00px;
        margin: 0px;
        margin-top: -10px;
    }

.carousel-indicators {
    position: absolute;
    bottom: -30px;
}

    .carousel-indicators li {
        background-color: #000;
        border: 1px solid #fff;
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better visibility */
    border-radius: 50%;
    padding: 20px;
}

/* Sierpinski Triangle Game */
.triangle-game {
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    width: 100%;
}

    .controls .form-group {
        margin: 0 10px;
    }

    .controls button {
        margin-right: 20px;
    }

.restart-button {
    padding: 10px;
    width: 100px;
    background-color: var(--button-background);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .restart-button:hover {
        background-color: var(--button-hover-background);
    }

@media (max-width: 768px) {

    .details-header-wrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .back-button {
        padding: 8px;
    }

    .details-header-wrapper .section-header {
        margin-left: 0px;
        margin-top: 50px;
    }

    /* Carousel */
    .carousel-item img {
        max-width: 100%;
    }

    .carousel-caption {
        transform: translateY(20px);
    }

        .carousel-caption h3 {
            font-size: 16px;
        }

    .technologies-used {
        width: 100%;
    }
}